<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <base href="/">
  <meta charset="UTF-8">
  <title>Chatbot</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>



  <!-- theme imports  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/css/timetracker.style.min.css">
  <!-- theme imports end -->
  <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/dmxAppConnect/dmxSockets/dmxSockets.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js" defer></script>
  <script src="assets/js/main_js.js"></script>
  <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer></script>
  <style>
    #chat-recent {
      max-height: 100vh;
      overflow-y: auto;
    }

    #ulChatList {
      max-height: 100vh;
      overflow-y: auto;
    }
  </style>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
  <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
  <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDropzone/dmxDropzone.css" />
  <script src="/dmxAppConnect/dmxDropzone/dmxDropzone.js" defer></script>
  <style>
    .bg-image {
      background: #1c77bd;
    }

    .bg-whole {
      background: #E8F9FF;
    }
  </style>
</head>

<body is="dmx-app" id="main" class="bg-whole">


  <!-- notification imports -->
  <dmx-notifications id="notifies_main"></dmx-notifications>

  <!-- server connects -->
  <dmx-serverconnect id="scLogout" url="/api/users/logout" dmx-on:success="browser_main.goto('/login')" noload="true"></dmx-serverconnect>
  <dmx-serverconnect id="scContent" url="/api/common/content" dmx-on:unauthorized="browser_main.goto('/login')"></dmx-serverconnect>

  <!-- browser -->
  <div is="dmx-browser" id="browser_main"></div>
  <!-- main structure -->
  <div id="timetracker-layout" class="theme-indigo">

    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0 bg-image">
      <div class="d-flex flex-column h-100">


        <a href="/chatbot" class="mb-0 brand-icon mx-auto">
          <img src="assets/images/Animation.gif" alt="Animated GIF">
        </a>



        <!-- Menu: main ul -->
        <div id="rMenu" class="menu-list ">
          <div class="menu-item">
            <span class="m-link" dmx-class:active="browser_main.location.pathname=='landing'">
              <span class="menu-icon me-1 d-flex justify-content-center align-items-center">
                <i class="icofont-home fs-5"></i>
              </span>
              <a class="m-link cursor-pointer" href="/landing" title="HOME" internal="true">
                <span>Home</span>
              </a>
            </span>
          </div>
          <div class="menu-item">
            <span class="m-link" dmx-class:active="browser_main.location.pathname=='chatbot'">
              <span class="menu-icon me-1 d-flex justify-content-center align-items-center">
                <i class="icofont-chat fs-5"></i>
              </span>
              <a class="m-link cursor-pointer" href="/chat" title="CHATS" internal="true">
                <span>Chats</span>
              </a>
            </span>
          </div>
          <div class="menu-item">
            <span class="m-link" dmx-class:active="browser_main.location.pathname=='sub_menu[0].page_url'">
              <span class="menu-icon me-1 d-flex justify-content-center align-items-center">
                <i class="icofont-upload fs-5"></i>
              </span>
              <a class="m-link cursor-pointer" href="/upload" title="UPLOAD" internal="true">
                <span>Upload</span>
              </a>
            </span>
          </div>
          <div class="menu-item">
            <span class="m-link" dmx-class:active="browser_main.location.pathname=='sub_menu[0].page_url'">
              <span class="menu-icon me-1 d-flex justify-content-center align-items-center">
                <i class="icofont-logout fs-5"></i>
              </span>
              <a class="m-link cursor-pointer" dmx-on:click="scLogout.load({})" title="logout" internal="true">
                <span>logout</span>
              </a>
            </span>
          </div>
          <div class=" mt-1">
            <span class="m-link">
              <span class="menu-icon me-1 d-flex justify-content-center align-items-center">
                <i class="icofont-user fs-5"></i>
              </span>
              <div class="">
                <span>{{scContent.data.username}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>


    <!-- main body area -->
    <div class="main bg-whole" style="background-color:white !important;">
      <div is="dmx-view" id="content" class="body d-flex">
        <div class="container-xxl p-0 ">

          <%- await include(content, locals); %>

        </div>
      </div>

    </div>

  </div>

  <!-- Jquery Page Js -->
  <script src="assets/js/template.js"></script>





  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>