<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="chatbot" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxSockets:{},dmxFormatter:{},dmxDataTraversal:{},dmxBootstrap5Modal:{},dmxDatastore:{},dmxBootstrap5Toasts:{},dmxStateManagement:{}}" -->

<!-- modal accept -->
<style>
    .badge {
        background-color: #484c7f;
        color: white;
        border-radius: 50%;
        font-size: 11px;
    }

    .badge_padding_less_10 {
        padding: 5px 8px;
    }

    .badge_padding_more_10 {
        padding: 6px 6px;
    }
</style>
<!-- Routes -->
<meta name="ac:route" content="/chat">

<div class="row g-0">
    <div class="col-12 d-flex bg-whole">
        <div class="card card-chat-body border-0  w-100 px-4 px-md-5 py-3 py-md-4 bg-whole">
            <div class="chat-header d-flex justify-content-between align-items-center border-bottom pb-3">
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0);" title="">
                        <div class="avatar rounded no-thumbnail text-primary">FG</div>
                    </a>
                    <div class="ms-3">
                        <h6 class="mb-0">{{scContent.data.username}}</h6>
                        <small class="text-muted">Chat With - FileGPT</small>
                    </div>
                </div>
            </div>

            <!-- Chat: body -->
            <ul id="ulChatList" class="chat-history list-unstyled mb-0 py-lg-5 py-md-4 py-3 flex-grow-1">

            </ul>

            <!-- Chat: Footer -->
            <div class="chat-message">
                <form action="/api/chats/file-query" method="post" dmx-on:submit="run([{runJS:{outputType:'text',function:'handleChat',args:[`tsend.value`]}},{run:{name:'clearInput',outputType:'text',action:`apiform1.reset()`}}])" dmx-on:keydown.enter="apiform1.submit()" is="dmx-serverconnect-form" id="apiform1" dmx-on:error="notifies_main.warning('llm subscription ended!')" dmx-on:success="run([{runJS:{name:'handleserver',outputType:'text',function:'handleServerMessage',args:[`apiform1.data.module1.answer`]}},{runJS:{name:'handleserver_copy',outputType:'text',function:'handleServerMessage',args:[`apiform1.data.module1.sources`]}}])">
                    <button class="btn btn-dark" type="submit">Send</button>
                    <textarea class="form-control" placeholder="Enter a message" id="tsend" name="tsend"></textarea>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="modalDelete" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  fw-bold" id="deleteprojectLabel"> Delete Chat Permanently?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body justify-content-center flex-column d-flex">
                <i class="icofont-ui-delete text-danger display-2 text-center mt-2"></i>
                <p class="mt-4 fs-5 text-center">Delete Chat</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger color-fff">Delete</button>
            </div>
        </div>
    </div>
</div>