<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="commingsoon" appConnect="local" -->
<meta name="ac:route" content="*">
<div class="d-flex justify-content-center align-items-center vh-100">
    <img src="assets/notfound/not-found.svg" alt="SVG Icon" width="800">
</div>